<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find more than 9000 restaurants and food with food map.">
    <title>Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
        crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="manifest" href="./manifest.json">
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#FFAA00" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
</head>

<body>
    <a href="#main-content" class="skip-link">Menuju ke Konten</a>
    <header>
        <app-bar></app-bar>
        <hero-app></hero-app>
    </header>
    <main id="main-content">
    </main>
    <footer-app></footer-app>
</body>

</html>